/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

1. Main Layout
2. Content

==============================================
*/
/* 1. Main Layout ================================= */
* {
  box-sizing: border-box; }

html {
  background: black;
  width: 100%; }

body {
  width: 100%;
  height: 100%; }

/* 2. Content ================================= */
.poster {
  width: 895px;
  height: 1266px;
  margin: 100px auto;
  border: 17px solid #ebdac8;
  margin: 100px auto;
  position: relative;
  background: radial-gradient(ellipse at center, #160808 29%, #392a25 71%, #6a5c35 93%);
  background-repeat: no-repeat; }
  .poster .pan .circle {
    position: absolute;
    width: 500px;
    top: 3%;
    right: 202px;
    transform: rotateX(48deg); }
    .poster .pan .circle:hover {
      animation: circle 5s;
      animation-direction: reverse;
      animation-fill-mode: forwards; }
  .poster .pan .hand {
    position: absolute;
    width: 257px;
    right: -1px;
    top: 5%; }

@keyframes circle {
  0% {
    transform: rotateX(0); }
  100% {
    transform: rotateX(50deg); } }

.title h1 {
  color: #f4e46d;
  position: absolute;
  top: 314px;
  font-size: 3.5em;
  left: 95px;
  font-family: impact; }

.explosion .boom {
  position: absolute;
  top: 55%;
  left: 358px;
  opacity: 0; }
  .explosion .boom.blink {
    opacity: 1;
    transition-delay: 3.0s; }

.explosion .boom-2 {
  position: absolute;
  top: 55%;
  left: 335px;
  opacity: 0; }
  .explosion .boom-2.blink-2 {
    opacity: 1;
    transition-delay: 3.1s; }

.explosion .boom-3 {
  position: absolute;
  top: 54%;
  left: 329px;
  opacity: 0; }
  .explosion .boom-3.blink-3 {
    opacity: 1;
    transition-delay: 3.2s; }

.explosion .boom-4 {
  position: absolute;
  top: 54%;
  left: 315px;
  opacity: 0; }
  .explosion .boom-4.blink-4 {
    opacity: 1;
    transition-delay: 3.3s; }

.explosion .boom-5 {
  position: absolute;
  top: 54%;
  left: 260px;
  opacity: 0; }
  .explosion .boom-5.blink-5 {
    opacity: 1;
    transition-delay: 3.4s; }

.explosion .boom-6 {
  position: absolute;
  top: 49%;
  left: 180px;
  opacity: 0; }
  .explosion .boom-6.blink-6 {
    opacity: 1;
    transition-delay: 3.5s; }

.explosion .boom-7 {
  position: absolute;
  top: 49%;
  left: 180px;
  opacity: 0; }
  .explosion .boom-7.blink-7 {
    opacity: 1;
    transition-delay: 3.6s; }

.explosion .boom-8 {
  position: absolute;
  top: 49%;
  left: 180px;
  opacity: 0; }
  .explosion .boom-8.blink-8 {
    opacity: 1;
    transition-delay: 3.7s; }

.explosion .boom-9 {
  position: absolute;
  top: 49%;
  left: 185px;
  opacity: 0; }
  .explosion .boom-9.blink-9 {
    opacity: 1;
    transition-delay: 3.8s; }

.explosion .boom-10 {
  position: absolute;
  top: 48%;
  left: 165px;
  opacity: 0; }
  .explosion .boom-10.blink-10 {
    opacity: 1;
    transition-delay: 3.9s; }

.explosion .boom-11 {
  position: absolute;
  top: 48%;
  left: 130px;
  opacity: 0; }
  .explosion .boom-11.blink-11 {
    opacity: 1;
    transition-delay: 4.0s; }

.explosion .boom-12 {
  position: absolute;
  top: 44%;
  left: 130px;
  opacity: 0; }
  .explosion .boom-12.blink-12 {
    opacity: 1;
    transition-delay: 4.1s; }

.bottom h2 {
  color: #eae0d7;
  position: absolute;
  left: 46px;
  font-size: 2.7em;
  top: 1117px;
  text-transform: uppercase;
  font-family: helvetica; }

.missle-1 {
  position: absolute;
  top: 60%;
  width: 100px; }

/*# sourceMappingURL=main.css.map */
